<a href="https://colab.research.google.com/github/shuwang127/636Project/blob/main/Classifers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import os
import pandas as pd
import numpy as np

_COLAB_ = 0 if (os.getenv('COLAB_GPU', 'NONE') == 'NONE') else 1
rootPath = './drive/My Drive/Colab Notebooks/' if (_COLAB_) else './'

In [2]:
# read data.
data = pd.read_csv(rootPath + 'training_data.csv')
data.head()

   ID (this is not a feature)  age  ...  native-country  salary
0                           1   36  ...   United-States   <=50K
1                           2   30  ...   United-States    >50K
2                           3   19  ...   United-States   <=50K
3                           4   44  ...   United-States   <=50K
4                           5   51  ...   United-States   <=50K

[5 rows x 16 columns]

In [3]:
# fill missing features.
data = data.replace(' ?', np.nan)
for index, row in data.iteritems():
    data[index].fillna(data[index].mode()[0], inplace=True)
data.head()

   ID (this is not a feature)  age  ...  native-country  salary
0                           1   36  ...   United-States   <=50K
1                           2   30  ...   United-States    >50K
2                           3   19  ...   United-States   <=50K
3                           4   44  ...   United-States   <=50K
4                           5   51  ...   United-States   <=50K

[5 rows x 16 columns]

In [4]:
# get labels.
Y = data['salary'].replace([' <=50K' , ' >50K'], [0, 1])
Y.head()

0    0
1    1
2    0
3    0
4    0
Name: salary, dtype: int64

In [5]:
# get features.
X = data.drop(['ID (this is not a feature)', 'salary'], axis=1)
# normalize numeric features.
from sklearn.preprocessing import StandardScaler
numcol = ['age', 'fnlwgt', 'education-num', 'capital-gain', 'capital-loss', 'hours-per-week']
scaler = StandardScaler()
X[numcol] = scaler.fit_transform(X[numcol])
# get one-hot vectors.
X = pd.get_dummies(X)
X.head()

        age    fnlwgt  ...  native-country_ Vietnam  native-country_ Yugoslavia
0 -0.193656  1.560810  ...                        0                           0
1 -0.630858 -0.538524  ...                        0                           0
2 -1.432394 -1.187683  ...                        0                           0
3  0.389280 -0.728156  ...                        0                           0
4  0.899348 -0.592797  ...                        0                           0

[5 rows x 105 columns]

In [6]:
# separate training data and validation data.
from sklearn.model_selection import train_test_split
XTrain, XTest, YTrain, YTest = train_test_split(X, Y, test_size=0.2)
print("size of training data is", XTrain.shape)
print("size of testing data is", XTest.shape)

size of training data is (31073, 105)
size of testing data is (7769, 105)

In [7]:
# evaluation.
from sklearn.metrics import accuracy_score, confusion_matrix
def Evaluation(YTest, YPred, method=''):
    print('====================== ' + method + ' ======================')
    acc = accuracy_score(YTest, YPred) * 100
    print('Accuracy is %.3f%%.' % acc)
    conf = confusion_matrix(YTest, YPred)
    print(pd.DataFrame(conf, columns=['Pred-Neg','Pred-Pos'], index=['Actl-Neg', 'Actl-Pos']))
    precision = conf[1][1] / (conf[0][1] + conf[1][1]) if (conf[0][1] + conf[1][1]) else 0
    recall = conf[1][1] / (conf[1][0] + conf[1][1]) if (conf[1][0] + conf[1][1]) else 0
    F1 = 2 * precision * recall / (precision + recall) if (precision + recall) else 0
    print('Precision is %.3f.' % precision)
    print('Recall is %.3f.' % recall)
    print('F1 score is %.3f.' % F1)

In [8]:
# NaiveBayes.
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(XTrain, YTrain)
YPred = model.predict(XTest)
Evaluation(YTest, YPred, 'Naive Bayes')

====================== Naive Bayes ======================
Accuracy is 60.278%.
          Pred-Neg  Pred-Pos
Actl-Neg      2898      2963
Actl-Pos       123      1785
Precision is 0.376.
Recall is 0.936.
F1 score is 0.536.

In [9]:
# Least Square Regression.
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(XTrain, YTrain)
YPred = model.predict(XTest)
YPred = (YPred > 0.5)
Evaluation(YTest, YPred, 'Least Square Regression')

====================== Least Square Regression ======================
Accuracy is 83.511%.
          Pred-Neg  Pred-Pos
Actl-Neg      5561       300
Actl-Pos       981       927
Precision is 0.756.
Recall is 0.486.
F1 score is 0.591.

In [10]:
# Ridge Regression.
from sklearn.linear_model import Ridge
model = Ridge(alpha=1e-2, normalize=True)
model.fit(XTrain, YTrain)
YPred = model.predict(XTest)
YPred = (YPred > 0.5)
Evaluation(YTest, YPred, 'Ridge Regression')

====================== Ridge Regression ======================
Accuracy is 83.511%.
          Pred-Neg  Pred-Pos
Actl-Neg      5563       298
Actl-Pos       983       925
Precision is 0.756.
Recall is 0.485.
F1 score is 0.591.

In [11]:
# Lasso Regression.
from sklearn.linear_model import Lasso
from sklearn.model_selection import GridSearchCV
model = Lasso(alpha=1e-6)
model.fit(XTrain, YTrain)
YPred = model.predict(XTest)
YPred = (YPred > 0.5)
Evaluation(YTest, YPred, 'Lasso Regression')

====================== Lasso Regression ======================
Accuracy is 83.511%.
          Pred-Neg  Pred-Pos
Actl-Neg      5561       300
Actl-Pos       981       927
Precision is 0.756.
Recall is 0.486.
F1 score is 0.591.

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 1523.1257342238578, tolerance: 0.5647114536736048
  positive)

In [12]:
# Logistic Regression.
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(XTrain, YTrain)
YPred = model.predict(XTest)
Evaluation(YTest, YPred, 'Logistic Regression')

====================== Logistic Regression ======================
Accuracy is 84.760%.
          Pred-Neg  Pred-Pos
Actl-Neg      5466       395
Actl-Pos       789      1119
Precision is 0.739.
Recall is 0.586.
F1 score is 0.654.

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [13]:
# K-means.
from sklearn.cluster import KMeans
model = KMeans(n_clusters=2, random_state=0)
model.fit(X)
YPred = model.labels_
import scipy.stats as stats
if (stats.pearsonr(Y, YPred)[0] < 0):
    YPred = (YPred == 0)
Evaluation(Y, YPred, 'K-means')

====================== K-means ======================
Accuracy is 66.951%.
          Pred-Neg  Pred-Pos
Actl-Neg     17521     11995
Actl-Pos       842      8484
Precision is 0.414.
Recall is 0.910.
F1 score is 0.569.

In [14]:
# Decision Tree.
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier(criterion="gini", splitter="best", max_features=None, min_samples_split=300, min_samples_leaf=1, random_state=0)
model.fit(XTrain, YTrain)
YPred = model.predict(XTest)
Evaluation(YTest, YPred, 'Decision Tree')

====================== Decision Tree ======================
Accuracy is 85.777%.
          Pred-Neg  Pred-Pos
Actl-Neg      5525       336
Actl-Pos       769      1139
Precision is 0.772.
Recall is 0.597.
F1 score is 0.673.

In [15]:
# Random Forest.
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=100, max_depth=100, criterion='gini', max_features = 'sqrt', n_jobs=-1, verbose=1, random_state=0)
model.fit(XTrain, YTrain)
YPred = model.predict(XTest)
Evaluation(YTest, YPred, 'Random Forest')

[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  46 tasks      | elapsed:    2.2s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:    4.8s finished
[Parallel(n_jobs=2)]: Using backend ThreadingBackend with 2 concurrent workers.
[Parallel(n_jobs=2)]: Done  46 tasks      | elapsed:    0.1s

====================== Random Forest ======================
Accuracy is 85.146%.
          Pred-Neg  Pred-Pos
Actl-Neg      5457       404
Actl-Pos       750      1158
Precision is 0.741.
Recall is 0.607.
F1 score is 0.667.

[Parallel(n_jobs=2)]: Done 100 out of 100 | elapsed:    0.2s finished

In [16]:
# Support Vector Machine.
from sklearn.svm import SVC
model = SVC(kernel='linear', C=1)
model.fit(XTrain, YTrain)
YPred = model.predict(XTest)
Evaluation(YTest, YPred, 'Support Vector Machine')

====================== Support Vector Machine ======================
Accuracy is 84.593%.
          Pred-Neg  Pred-Pos
Actl-Neg      5513       348
Actl-Pos       849      1059
Precision is 0.753.
Recall is 0.555.
F1 score is 0.639.

In [17]:
# Neural Network.
from sklearn.neural_network import MLPClassifier
model = MLPClassifier(hidden_layer_sizes=(32,8), activation='relu', solver='lbfgs', max_iter=100)
model.fit(XTrain, YTrain)
YPred = model.predict(XTest)
Evaluation(YTest, YPred, 'Neural Network')

====================== Neural Network ======================
Accuracy is 85.301%.
          Pred-Neg  Pred-Pos
Actl-Neg      5457       404
Actl-Pos       738      1170
Precision is 0.743.
Recall is 0.613.
F1 score is 0.672.

/usr/local/lib/python3.6/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:470: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
  self.n_iter_ = _check_optimize_result("lbfgs", opt_res, self.max_iter)